/* GLOBAL */

@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla&display=swap');



:root{
  --main-color: hsl(256, 26%, 20%);
  --second-color: hsl(216, 30%, 68%);

  --ttt: hsl(270, 9%, 17%);
  --tttt: hsl(273, 4%, 51%);
  --ttttt: hsl(0, 0%, 98%);

  --main-font:  'DM Serif Display', sans-serif;
  --second-font: 'Karla', sans-serif;
}

:root {
  background-color: grey;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  background-color: var(--ttttt);
  font-family: var(--second-font);
  font-size: 16px;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid var(--ttttt);
  width: 30%;
  margin-left: 0;
}

h1 {
  font-size: 4.5rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* HEADER */

header {
  font-family: var(--main-font);
  top: 0;
  left: 0;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--ttttt);
  text-transform: uppercase;
  font-weight: 400;
  z-index: 100;
}

#logo {
  display: inline;
}

#nav-menu{
  position: absolute;
  right: 5vw;
  top: 20px;
  letter-spacing: 1px;
}

#hamburger-menu{
  display: none;
}

#overlay-menu-mobile {
  display: none;
  overflow-x: hidden;
}

#nav-menu > a {
  padding: 5px 0.75vw;
  color: var(--tttt);
  text-decoration: none;
}

#nav-menu > .hoverable {
  color: var(--ttt);
  border-color: var(--ttt);
  border-style: solid;
  border-width: 1px;
}

#nav-menu > .hoverable:hover {
  background-color: var(--ttt);
  color: var(--ttttt);
}



/* INTRODUCTION */

#top-container {
  background-color: var(--main-color);
}

#section-introduction {
  padding: 5% 15% 2.5% 15%;
  height: 500px;
  color: var(--ttttt);
  display: flex;
  position: relative;

}

#img-background-intro {
  position: absolute;
  top: 0;
  right: 0;
  height: 40vh;
  width: 40vw;
  background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

#img-background-intro-bottom {
  position: absolute;
  bottom: -15vh;
  left: 0;
  height: 350px;
  width: 350px;
  background-image: url(../images/bg-pattern-intro-left-desktop.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

#intro-text {
  width: 90vw;
  padding-right: 60px;
  font-size: 1rem;
}

#title-introduction {
  padding: 1% 5% 0% 0%;
}

#text-introduction {
  line-height: 1.5;
  letter-spacing: 1px;
}

#button-section-introduction {
  padding: 5px 20px;
  position: relative;
  top: 20px;

  color: var(--ttttt);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  border-color: var(--ttttt);
  border-style: solid;
  border-width: 1px;
}

#button-section-introduction:hover {
  background-color: var(--ttttt);
  color: var(--ttt);
}



/* HOW WE WORK */
#middle-container {
  margin-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
}

#middle-container > hr {
  border: none;
  border-top: 1px solid grey;
  width: 10%;
  margin-top: 5%;
}

#middle-container > h1 {
  color: var(--ttt);
  font-weight: 1000;
}

.grey-paragraph {
  color: grey;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.why-different{
  margin-right: 2.5%;
  max-width: 30%;
}

#how-we-work {
  margin: 2.5% 5% 0 5%;
  background-color: var(--main-color);
  color: var(--ttttt);
  padding: 1.5% 2.5%;
  align-items: center;
  justify-content: space-between;

  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

#text-how-we-work {
  font-size: 3rem;
  padding-right: 25%;
}

#container-button-how-we-work{
  margin: auto;
  padding-bottom: 50px;
}

#button-how-we-work {
  color: var(--ttttt);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  border-color: var(--ttttt);
  border-style: solid;
  padding: 10px;
  border-width: 1px;
}

#button-how-we-work:hover {
  background-color: var(--ttttt);
  color: var(--ttt);
}


/* FOOTER */
footer  {
  margin-top: 7.5%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: var(--ttttt);
}

#img-background-footer {
  position: absolute;
  height: 20vh;
  width: 20vw;
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

#logo-networks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0px 0px 0px;
}

#network {
  align-self: center;
}

.logo-social-network {
  margin-left: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  transition: transform 0.75s;
  transform: rotateX(0deg);
}

#insure-title {
  font-size: 3rem;
}

.logo-social-network:hover {
  opacity: 100;
  filter: alpha(opacity=100);
  transform: rotateX(180deg);
}

#line-footer {
  margin-bottom: 35px;
  border-top: 1px solid var(--tttt);
  width: 100%;
}

#navigation-footer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.site-map {
  margin-right: auto;
}

.site-map > h4 {
  color: var(--tttt);
}

.site-map > a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 1000;
  color: var(--ttt);
  display: block;
  margin-top:10px;
}

#navigation-footer > div > a:hover {
  text-decoration: underline;
}



/* VERSION MOBILE */

@media screen and (max-width: 640px) {

  /* Display:none elements desktop */
  #nav-menu, #img-background-intro, #img-background-intro-bottom, #img-background-footer,#intro-text>hr  {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  header {
    padding-top: 25px;
    padding-bottom: 25px;
  }



  /* MENU MOBILE */
  #menu {
    padding-left: 25px;
  }

  #hamburger-menu {
      display: inline;
      opacity: 0.60;
      transition: opacity 0.2s linear;
      margin-left: 50%;
    }

    #hamburger-menu:hover {
      opacity: 1;
    }

    #overlay-menu-mobile {
      display: block;
      height: 100vh;
      width: 0%;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      background-color: var(--ttt);
      transition: width 0.15s ease-in-out;
      background-image: url(../images/bg-pattern-mobile-nav.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;
    }

    #nav-menu-mobile {
      position: relative;
      width: 100%;
      text-align: center;
      margin-top: 70px;
    }

    #nav-menu-mobile a {
        position: relative;
        display: block;
        margin: auto;
        color: #fff;
        padding : 1rem 0rem;
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        border : 2px solid transparent;
        width: 90%;
      }

      #nav-menu-mobile a:hover {
        border : 2px solid white;
      }



      /* INRODUCTION MOBILE */
      #intro-img {
        display: none;
      }

      #section-introduction{
        padding: 25px 0 100px 0;
        text-align: center;
      }

      #title-introduction {
        padding: 0;
      }

      #intro-text {
        padding: 0;
        margin: auto;
        font-size: 1.2rem;
      }

      #button-introduction {
        padding-top: 25px;
      }


      /* CONTENU CENTRAL MOBILE */
      #middle-container > hr {
        border: none;
        border-top: 1px solid grey;
        width: 40vw;
        padding: 0;
        margin: auto;
        margin-top: 150px;
      }

      #middle-container {
        padding: 0;
        text-align: center;
      }

      .why-different {
        margin-right: 2.5%;
        max-width: 100%;
        margin-top: 50px;
        padding : 0 25px;
      }

      #how-we-work {
        margin-top: 75px;
      }

      #text-how-we-work {
        padding: 0;
      }
	  
	  #insure-title {
		  align-self: center;
	  }
	 
	  #logo-networks-container{
		  flex-direction: column;
	  }
	  
	  #navigation-footer {
		flex-direction: column;
		align-items: center;
		justify-content: center
	  }
	  
	  .site-map {
		margin: 0;
	  }
  }
}
